html, body
{
    margin:0px;
}

body
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

body *
{
    flex:0 1 auto
}

.header
{
    display:flex;
    flex-direction: column;
}

.nav
{
    display:flex;
}

.hero 
{
    display:flex;
}

.body
{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.cards
{
    display:flex;
}

.quote
{
    display:flex;
    flex-direction: column;
}

.signUp
{
    display:flex;
}

.footer
{
    background-color: #1f2937;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer p
{
    margin:0px;
    color:white;
}
