html, body
{
    margin:0px;
}

body
{
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.header
{
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
}

.nav
{
    width:1000px;
    align-self: center;
    display:flex;
    justify-content: space-between;
}

.logo
{
    color: #f9faf8;
    font-size: 24px;
}

ul
{
    display:flex;
    list-style-type: none;
    gap: 1em;
    font-size:18px;
    color:#E5E7EB;
}

.hero 
{
    width:1000px;
    align-self: center;
    display:flex; 
    justify-content:space-between;
}

.intro h2
{
    margin:0px;
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.intro button
{
    margin-top: 5px;
    padding:5px;
    color:#f9faf8;
    background-color: #3882f6;
    text-align: center;
    border-radius: 12px;
    border:none;
}

.intro p
{
    font-size:18px;
    color:#E5E7EB;
}

.body
{
    flex: 1 1 auto;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.body > h2
{
    font-size: 36px;
    color:#1f2937;
}

.cards
{
    width:1000px;
    align-self: center;
    flex:0 1 auto;
    display:flex;
    justify-content: center;
}

.quote
{
    display:flex;
    flex-direction: column;
}

.signUp
{
    display:flex;
}

.footer
{
    background-color: #1f2937;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer p
{
    margin:0px;
    color:white;
}
