html, body
{
    margin:0px;
}

body
{
    display:flex;
    flex-direction: column;
    height: 100vh;
    
}

.header
{
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
}

.nav
{
    width:1200px;
    align-self: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    color: #f9faf8;
    font-size: 24px;
}

.links
{
    display:flex;
    list-style-type: none;
    gap: 1em;
    font-size:18px;
    color:#E5E7EB;
}

.hero 
{
    width:1200px;
    align-self: center;
    display:flex; 
    justify-content:space-between;
    margin-bottom:5px;
}

.intro h2
{
    margin:0px;
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.intro button
{
    margin-top: 5px;
    padding:10px 20px 10px;
    color:#f9faf8;
    background-color: #3882f6;
    text-align: center;
    border-radius: 12px;
    border:none;
}

.intro p
{
    font-size:18px;
    color:#E5E7EB;
}

.body
{
    flex: 1 1 auto;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.body > h2
{
    font-size: 36px;
    color:#1f2937;
}

.cards
{
    
    align-self: center;
    flex:0 1 auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:36px;
}

.item
{
    width:200px;
}


.quote
{
    display:flex;
    background-color: #e5e7eb;
    justify-content: center;
}
.quoteContainer
{
    width:1000px;
    display:flex;
    flex-direction: column;
}

.quote .text
{
    font-size: 36px;
    font-style:italic;
    font-weight: 300;
    margin-bottom: 10px; 
}

.source
{
    align-self: flex-end;
}


.signUp
{
    margin-top: 16px;
    align-self: center;
    display:flex;
    width: 800px;
    background-color: #3882f6;
    justify-content: space-between;
}

.signUp div
{
margin-left: 100px;
}

.signUp div h2
{
    margin-bottom: 2px;
    color:#e5e7eb;
}

.signUp div p
{
    margin-top: 2px;
    color:#e5e7eb;

}

.signUp button
{
    margin-right: 100px;
    background-color: #3882f6;
    color: #E5E7EB;
    text-align: center;
    padding:10px 20px 10px;
    border-radius: 12px;
    align-self: center;
    border-color: #e5e7eb;
    border-style: groove;
}

.footer
{
    background-color: #1f2937;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer p
{
    margin:0px;
    color:white;
}
